/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>


/ { 
		behaviors {
			bhm: balanced_homerow_mods {
				compatible = "zmk,behavior-hold-tap";
				#binding-cells = <2>;
				tapping-term-ms = <200>;    // <---[[moderate duration]]
				quick-tap-ms = <0>;
				flavor = "balanced";
				bindings = <&kp>, <&kp>;
			}; 
			
			bmm: balanced_mouse_mods {
				compatible = "zmk,behavior-hold-tap";
				#binding-cells = <2>;
				tapping-term-ms = <200>;    // <---[[moderate duration]]
				quick-tap-ms = <0>;
				flavor = "balanced";
				bindings = <&kp>, <&mkp>;
			};
			 
			mosc: mouse_scrollt {
				compatible = "zmk,behavior-mod-morph";
				#binding-cells = <0>;
				bindings = <&kp A>, <&kp B>;
				mods = <(MOD_LSFT|MOD_RSFT)>;
			};
		};
		
		combos {
			compatible = "zmk,combos";
			combo_esc {
				timeout-ms = <50>;
				key-positions = <0 1>;
				bindings = <&kp ESC>;
			};
			
			combo_leftclick {
				timeout-ms = <50>;
				key-positions = <11 12>;
				bindings = <&mkp RCLK>;
			};
			
			combo_doublleftclick {
				timeout-ms = <50>;
				key-positions = <11 12 13>;
				bindings = <&mkp RCLK &mkp RCLK>;
			};
			
			combo_rightclick {
				timeout-ms = <50>;
				key-positions = <12 13>;
				bindings = <&mkp LCLK>;
			};
			
			combo_middleclick {
				timeout-ms = <50>;
				key-positions = <11 13>;
				bindings = <&mkp MCLK>;
			};
			
			combo_minus {
				timeout-ms = <50>;
				key-positions = <18 19>;
				bindings = <&mkp MINUS>;
			};

			combo_bootload {
				timeout-ms = <50>;
				key-positions = <0 30>;
				bindings = <&bootloader>;
			};

			combo_sysreset {
				timeout-ms = <50>;
				key-positions = <0 24>;
				bindings = <&sys_reset>;
			};
			
		};

		trackball_listener {
            compatible = "zmk,input-listener";
            device = <&trackball>;
            input-processors = <&zip_xy_scaler 1 10>,<&zip_temp_layer 0 1000>;
			
			scroll{
                layers = <2>;
                input-processors = <&zip_xy_scaler 1 40>, <&zip_xy_to_scroll_mapper>, <&zip_scroll_transform (INPUT_TRANSFORM_Y_INVERT)>;
            };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
							&kp Q 			&kp W 			&kp F   			&kp P       	&kp G    			&kp	J		&kp L       	&kp U    		&kp Y   	&kp SEMI
							&bhm LSHIFT A 	&bhm LALT R 	&bhm LGUI S 		&bhm LCTRL T 	&kp D    			&kp H 		&bhm RCTRL N    &bhm RGUI E 	&bhm RALT I &bhm RSHIFT O  
							&kp Z 			&kp X 			&kp C 				&kp V     		&kp B    			&kp K 		&kp M       	&kp CMMA 		&kp DOT 	&kp FSLH
																								&lt 1 SPACE    		&lt 2 BSPC  &lt 3 ENTER
                        >;
                };
				
                lower_layer {
                        bindings = <
							&kp F6 			&kp F4 			&kp F2 			&kp F10 		&kp F8     					&kp F9 			&kp F1 			&kp  F3			&kp F5 			&kp F7
							&bhm LSHIFT N6	&bhm LALT N4    &bhm LGUI N2 	&bhm LCTRL N0  	&kp N8       				&kp N9      	&bhm RCTRL N1 	&bhm RGUI N3   	&bhm RALT N5	&bhm RSHIFT N7
							&kp BSLH        &kp SQT  		&none    		&none			&none        				&none	 		&kp LBKT		&kp RBKT		&kp MINUS 		&kp EQUAL
																							&none      					&kp BSPC		&kp TILDE2
                        >;
                };
				
                raise_layer {
                        bindings = <
						   &kp ESC 			   	&kp HOME   		&kp UP   	&kp END    		&none 					    &none     		&none        	&none	      	&none      		&kp DEL
						   &kp TAB      		&kp LEFT   		&kp DOWN	&kp RIGHT  		&none   			    	&none	    	&kp RCTRL		&kp RGUI  		&kp RALT		&bhm RSHIFT K_CMENU 
						   &none	 			&kp C_PREV 	 	&kp C_PP  	&kp C_NEXT		&none           			&sys_reset		&bootloader		&none			&none 			&none
				 																			&kp SPACE     				&none		 	&none
						>;
                };

				fusion_layer {
                        bindings = <
							&kp Q 			&kp W 			&kp F   			&kp P       	&kp G    			&kp J		&kp L       	&kp U    		&kp Y   	&tog 4
							&bhm LSHIFT A 	&bhm LALT R 	&bhm LGUI S 		&bhm LCTRL T 	&kp D    			&kp H 		&mkp LCLK    	&mkp RCLK 		&mkp MCLK	&mkp RS(MCLK)  
							&kp Z 			&kp X 			&kp C 				&kp V     		&kp B    			&kp K 		&kp M       	&kp CMMA 		&kp DOT 	&kp FSLH
																								&lt 1 SPACE    		&lt 2 BSPC  &lt 3 ENTER
                        >;
                };
				
				shoter_layer {
                        bindings = <
						   &kp TAB			&kp Q 			&kp W		&kp E 		&kp R      					&none 			&none 			&none			&none 		&tog 4
						   &kp LSHIFT     	&kp A		   	&kp S		&kp D 		&kp F 		   		    	&none	    	&mkp LCLK     	&mkp RCLK   	&mkp MCLK	&none
						   &kp LCTRL		&kp Y 	 		&kp X  		&kp C		&kp V           			&none		 	&none			&none			&none 		&none
																					&lt 1 SPACE     			&none		 	&none
						>;
                };
        };
};